# **INTRODUZIONE ALLE NOZIONI BASE DI PYTHON**

**TIPIZZAZIONE DINAMICA DELLE VARIABILI**

In Python è sufficiente assegnare un dato a una variabile senza specificarne il tipo, perché verrà riconosciuto in automatico.

In [ ]:
x1 = 2
x2 = 'Ciao'
x3 = 3.4

x1 è un **intero**, x2 è una **stringa**, x3 è un **float** (numero decimale)
print(x2 + x1) darebbe un errore:

In [ ]:
print(x2 + x1)

TypeError: ignored

Il modo corretto di farlo è il seguente:

In [ ]:
print(x2 + " X" + str(x1) + '!')

Ciao X2!

## **CICLI**

**IL CICLO FOR**

Sintassi:

for i in S:
> operazioni

Per ogni elemento i di un certo insieme S, compie alcune operazioni...

*Esempio con la funzione range (intervallo)*

Si supponga di voler stampare tutti i numeri fino a 10.

In [ ]:
N = 10
S = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10] # range(N+1) == S
S2 = [x for x in range(N+1)]
print(S2)
#for i in range(N+1):
#  print(str(i))

for i in S:
  print(str(i))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
0
1
2
3
4
5
6
7
8
9
10

La funzione range può ricevere uno o due **parametri**:


*   se ne riceve uno, come in range(N+1), allora l'insieme che ritornerà sarà tutto l'intervallo [0, N+1) = [0, N]
*   se ne riceve due, come in range(a, b), allora l'insieme che ritornerà sarà tutto l'intervallo [a, b) = [a, b-1]

*Esempio con a = 2 e b = 5*

In [ ]:
a = 2
b = 5
for i in range(a, b):
  print(str(i))

2
3
4

**IL CICLO WHILE**

Sintassi:

while condizione:
> operazioni

Finché non si verifica una certa condizione, vengono eseguite ripetutamente alcune operazioni...

*Esempio analogo a quello visto con il ciclo for*

Si supponga di voler stampare tutti i numeri fino a 10.

In [ ]:
j = 0
while j < 11:
    print(str(j))
    j += 1 # j = j + 1

0
1
2
3
4
5
6
7
8
9
10

E se le istruzioni fossero invertite?

In [ ]:
i = 0
while i < 11:
    i += 1 # i = i + 1
    print(str(i))

1
2
3
4
5
6
7
8
9
10
11

Sarebbe stampato anche il numero 11 perché il controllo della condizione

```
while i < 11:
```


avverrebbe **dopo** il comando 

```
print(str(i))
```

**NB**: attenzione all'ordine delle istruzioni!

**CONCATENAZIONE DI STRINGHE E ALTRI OGGETTI**

In [ ]:
s1 = 'Hello'
s2 = 'world'
# Modo 1
print(s1 + ' ' + s2)

Hello world

In [ ]:
# Modo 2
y = 45
print('{} {}\n{}'.format(s1, s2, y))

Hello world
45

Quest'altro modo è più comodo quando ci sono oggetti diversi dalle stringhe che devono essere stampati.

*Esempio*:

In [ ]:
pi = 3.14
# Modo 1
print(s1 + ' ' + str(pi))
pi_str = '3.14'
# Modo 2
print('{} {}'.format(s1, pi_str))

Hello 3.14
Hello 3.14

**LISTE**

In [ ]:
# Modo 1 per definire una lista: indicandone tutti gli elementi
lista1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Modo 2 per definire una lista: da vuota, aggiungendo elementi
lista2 = []
N = 13
for elem in range(1,N+1):
  #lista2.append(elem) # oppure: 
  lista2 += [elem]
print(lista2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [ ]:
# Modo 2 più compatto sfruttando, sfruttando un ciclo for
lista2 = [x for x in range(1,N+1)]
print(lista2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

**OPERAZIONI CON LE LISTE**

In [ ]:
# Lunghezza
len(lista1)
print('lista1 contiene ' + str(len(lista1)) + ' elementi')
print('lista1 contiene {} elementi'.format(len(lista1)))

lista1 contiene 10 elementi
lista1 contiene 10 elementi

In [ ]:
# Concatenazione di due liste
lista3 = lista1 + lista2
print(lista3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [ ]:
# Unione di due liste togliendo gli elementi che si ripetono -> Set
set1 = set(lista1 + lista2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}

In [ ]:
# Ripetizione
lista4 = ['Ciao!']*4
print(lista4)

['Ciao!', 'Ciao!', 'Ciao!', 'Ciao!']

In [ ]:
# Appartenenza (o no) di un elemento a una lista
print(3 in lista3)
print(100 in lista3)
print(100 not in lista3)

True
False
True

In [ ]:
# Iterazione sugli elementi di una lista
for x in lista2:
  print('Il quadrato di {} è {}'.format(x, pow(x,2)))

Il quadrato di 1 è 1
Il quadrato di 2 è 4
Il quadrato di 3 è 9
Il quadrato di 4 è 16
Il quadrato di 5 è 25
Il quadrato di 6 è 36
Il quadrato di 7 è 49
Il quadrato di 8 è 64
Il quadrato di 9 è 81
Il quadrato di 10 è 100
Il quadrato di 11 è 121
Il quadrato di 12 è 144
Il quadrato di 13 è 169

In [ ]:
lista_new = [2, 4, 6, 8, 10]
lista_new[len(lista_new)-1]

10

In [ ]:
# Indexing
L = [10, 3, 5, 6, 22, 18, 90]
print('Il terzo elemento della lista L è ' + str(L[3-1])) # L'indexing parte da 0 e non da 1
print('L''ultimo elemento della lista L è ' + str(L[len(L)-1])) # L'ultimo elemento ha indice len(L)-1, non solo len(L)!

Il terzo elemento della lista L è 5
Lultimo elemento della lista L è 90

In [ ]:
print('Lunghezza della lista L = {}'.format(len(L)))
print(len(L))

Lunghezza della lista L = 7
7

In [ ]:
# Indexing con numeri negativi, contando da destra
L = [10, 3, 5, 6, 22, 18, 90]
print('L''ultimo elemento della lista L è ' + str(L[-3]))

Lultimo elemento della lista L è 22

In [ ]:
# Pezzi di lista
L = [10, 3, 5, 6, 22, 18, 90]
print(L[2:5]) # Stampa gli elementi nelle posizioni 2, 3 e 4 (5 escluso)

[5, 6, 22]

In [ ]:
# Aggiornamento di un elemento di una lista
L[2] = 33
print(L)

[10, 3, 33, 6, 22, 18, 90]

In [ ]:
L = [10, 3, 33, 6, 22, 18, 90]
for i in range(len(L)):
  L[i] = int(L[i]/2)

print(L)

[5, 1, 16, 3, 11, 9, 45]

**TUPLE (liste in sola lettura)**

Differiscono dalle liste perché gli elementi di una tupla sono racchiusi tra due parentesi tonde e non possono essere aggiornati

In [ ]:
tupla1 = (1, 2, 3)
print(tupla1)

(1, 2, 3)

In [ ]:
tupla1[2] = 33

TypeError: ignored

**MATRICI**

In [ ]:
# a è una matrice 2-D 
a = [['Roy',80,75,85,90,95],
     ['John',75,80,75,85,100],
     ['Dave',80,80,80,90,95]]
print(a)

[['Roy', 80, 75, 85, 90, 95], ['John', 75, 80, 75, 85, 100], ['Dave', 80, 80, 80, 90, 95]]

In [ ]:
# b è una lista innestata, ma non una matrice: perché?
b = [['Roy',80,75,85,90,95],
    ['John',75,80,75],
    ['Dave',80,80,80,90,95]]
print(b)

[['Roy', 80, 75, 85, 90, 95], ['John', 75, 80, 75], ['Dave', 80, 80, 80, 90, 95]]

In [ ]:
# Uno dei vari modi per definire una matrice
num_righe = 5
num_colonne = 4
m_riga = [x for x in range(1, num_colonne+1)]
m1 = []
for i in range(num_righe):
    m1 += [[x+i for x in m_riga]]
print("m1 = " + str(m1))
#print(m_riga)

m1 = [[1, 2, 3, 4], [2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [ ]:
# Un altro modo
m = [[0 for y in range(num_colonne)] for x in range(num_righe)]
print(m)

# Aggiunta di [1,2,3,4,5] a m usando l'operatore +=
m += [[1,2,3,4,5]]
print(m)
print('\n')

# Stampa di m usando un ciclo for per una migliore visualizzazione
for i in range(len(m)):
    print(m[i])

In [ ]:
# Rimozione dell'ultima riga aggiunta a m con l'operatore del
del m[len(m)-1]
print(m)

**FUNZIONI**

Sono procedure che vengono definite prima di essere chiamate e che possono ricevere dei parametri da utilizzare. Generalmente, una funzione può anche ritornare uno o più risultati (ma non è obbligatorio).

In [ ]:
def fun1(p1, p2):
    return p1 + 2*p2
  
p1 = 5
p2 = 3
p3 = fun1(p1, p2)
print('p3 = ' + str(p3))

p3 = 11

**NB**: il passaggio dei parametri è fatto *per riferimento* e non per valore.

In [ ]:
def fun2(param1, param2):
  param1 = 2*param1
  param2 = int(param2/2)
  return param1 + param2

a = 3
b = 5
print('Risultato di fun2 = {}'.format(fun2(a,b)))
print('Dopo fun2, a = {} e b = {}'.format(a,b))

Risultato di fun2 = 8
Dopo fun2, a = 3 e b = 5

Ma attenzione quando passate oggetti come le liste!

In [ ]:
def fun3(c, d, l):
  l += [c*d, int(c/d), round(c/d, 2)]
  return l

l = [2, 4, 6]
print('Lista l prima di fun2 = ' + str(l))
c = 10
d = 3
fun3(c, d, l)
print('Lista l dopo fun2 = ' + str(l))

Lista l prima di fun2 = [2, 4, 6]
Lista l dopo fun2 = [2, 4, 6, 30, 3, 3.33]